---
export interface Props {
  imgSrc: string;
  imgAlt?: string;
  name: string;
  currentValue: string;
  promotionValue?: string;
  url: string;
}

const { imgSrc, imgAlt, name, currentValue, promotionValue, url } = Astro.props;
---

<a href={url} class="block overflow-hidden group">
  <img
    src={imgSrc}
    alt={imgAlt}
    class="h-[350px] w-full object-cover transition duration-500 group-hover:scale-105 sm:h-[450px]"
  />

  <div class="relative pt-3 bg-white">
    <h3
      class="text-xs text-gray-700 group-hover:underline group-hover:underline-offset-4"
    >
      {name}
    </h3>

    <p class="mt-2">
      <span class="sr-only"> Regular Price</span>

      <span class="tracking-wider text-gray-900">{currentValue}</span>
    </p>
  </div>
</a>
